.flex {
  display: flex;
  flex-direction: column;
}

.extend {
  flex-grow: 1;
}

.card {
  display: flex;
  justify-content: space-between;
}

.cardRight {
  display: flex;
}

.cardTitle {
  font-weight: bold;
  font-size: 18px;
}

.cardSubtitle {
  font-size: 14px;
}

.nextArrow {
  margin-right: 16px;
}
