.flex {
  display: flex;
  flex-direction: column;
}

.extend {
  flex-grow: 1;
}

.card {
  display: flex;
  justify-content: space-between;
}

.cardRight {
  display: flex;
}

.cardTitle {
  font-weight: bold;
  font-size: 18px;
}

.cardSubtitle {
  font-size: 14px;
}

.cardValue {
  font-weight: bold;
  font-size: 18px;
  margin: auto 6px;
  width: 30px;
  border-bottom: 1px solid #c4c4c4;
  text-align: center;
}

.button {
  width: 40px;
  height: 40px;
  transition: opacity ease-in-out 0.3s;
}

.nextArrow {
  margin-right: 16px;
}
