.flex {
  display: flex;
  flex-direction: column;
}

.extend {
  flex-grow: 1;
}

.errorMessage {
  color: var(--color-red);
  font-size: 85%;
}

.title {
  font-size: 150%;
  color: var(--color-secondary);
}
