.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalInner {
  position: fixed;
  width: 90%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.closeButton {
  position: absolute;
  background: none;
  border: 0;
  top: 15px;
  right: 15px;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}
