.flex {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 8px 2px #14141414;
}

.cardTitle {
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-secondary);
}

.cardContent {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #0D1234;
}

.secondaryCardContent {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #0D1234;
}

.title {
  font-size: 150%; 
  color: var(--color-secondary);
}

.categoryName {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0D1234;
}

.categoryAmount {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-secondary);
}

.addComment {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-secondary);
}
