@import "./vars.css";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: var(--color-global-bg);
  color: var(--color-black);
  padding: 24px;
}

@media (min-width: 800px) {
  body {
    padding: 48px 24px;
  }
}

#root {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

p {
  margin: 0;
  line-height: 1.5em;
}

.grecaptcha-badge {
  visibility: hidden;
}

.hide {
  display: none !important;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
