:root {
  /* COLORS */
  --color-black: #000;
  --color-white: #fff;
  --color-focus: #159bff;
  --color-gray: #bdc0c2;
  --color-light-grey: #f1f1f1;
  --color-error: #f79a9a;
  --color-dark-error: #4d0707;
  --color-red: #cf2a20;
  /* general */
  --color-global-bg: #ecf0f3;

  /* OTHER */
  --header-height: 40px;
  --global-width-limit: 600px;
}
