:root {
  /* COLORS */
  --color-black: #000;
  --color-white: #fff;
  --color-focus: #159BFF;
  --color-gray: #bdc0c2;
  /* general */
  --color-global-bg: #ecf0f3;

  /* OTHER */
  --header-height: 40px;
}
