.descriptionList {
  margin: 0;
}

.descriptionList dt {
  font-weight: 500;
  margin-bottom: 5px;
}

.descriptionList dd {
  margin-left: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: #111E6A;
}
